apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: default

resources:
  - deployment.yaml
  - service.yaml
  - ingress.yaml

commonLabels:
  app.kubernetes.io/part-of: portfolio
  app.kubernetes.io/managed-by: kustomize

images:
  - name: portfolio
    newName: portfolio
    newTag: latest
